// Import Vuetify styling
@require '~vuetify/src/stylus/app.styl'

html
  overflow-y: auto

.page
  @extend .fade-transition

.noty
  font-family: $body-font-family

.card
  min-width: 320px
  max-width: 360px

.mdi-72px
  font-size: 72px
