// Import Vuetify styling
@require '~vuetify/src/stylus/app.styl'

html
  overflow-y: auto

.page
  @extend .fade-transition

.noty
  font-family: $body-font-family

.card
  min-width: 320px
  max-width: 360px

.mdi-72px
  font-size: 72px
.mdi-64px
  font-size: 64px
.mdi-22px
  font-size: 22px
.mdi-20px
  font-size: 20px
.mdi-18px
  font-size: 18px
